[Desktop Entry]
Encoding=UTF-8
Name=Hellar Core
Comment=Hellar P2P Cryptocurrency
Comment[de]=Verbinde mit dem Hellar peer-to-peer Netzwerk
Comment[fr]=Hellar, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Hellar, eşten eşe kriptografik sanal para birimi
Exec=hellar-qt %u
Terminal=false
Type=Application
Icon=hellar128
MimeType=x-scheme-handler/hellar;
Categories=Office;Finance;
